[Unit]
Description=Sudop Bot
After=network.target
Wants=redis.service

[Service]
Type=simple
ExecStart=/bin/sh -c "/usr/bin/node server.js | pino-stackdriver -n sudop_bot --project <project-id> --credentials ./stackdriver-creds.json"
WorkingDirectory=<path/to/repository>

User=sudop_nodejs
Group=sudop_nodejs

EnvironmentFile=<path/to/repository/.env>

Restart=always
RestartSec=500ms

[Install]
WantedBy=multi-user.target
